<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <h1>Desenvolvimento WEB{{texto}}</h1>
        <input type="text" v-model="texto">
        <h3>lista de tarefas</h3>
        <input type="text" v-model="nova">
        <button v-on:click="tarefas.push(nova)">inserir</button>
        <ul>
            <li v-for="tarefa in tarefas">{{tarefa}}</li>
        </ul>
    </div>
    <style>

    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                texto: ' com VueJS',
                nova: '',
                tarefas: [
                    'a',
                    'b',
                    'c',
                    'd'
                ]
            },
            methods: {
                inseretarefa: function() {
                    if (!!this.nova) {
                        this.tarefas.push(this.nova)
                        this.nova = ''
                    }
                }
            }
        })
    </script>
</body>

</html>